html{
    background-color: grey;
}

#container{
    top: 10px;
    padding: 82px;
    margin: auto;
    width: 450px;
    background-color: white;
    position: relative;
}

btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.success {
    color: black;
    background:green;
}

.success:hover {
    background-color: #4CAF50;
    color: white;
}


.warning {
    background: yellow;
    color:black;
}

.warning:hover {
    background: #ff9800;
    color: white;
}

.danger {
    background: red;
    color:black;
}

.danger:hover {
    background: #f44336;
    color: white;
}